*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  position: relative;
  background: #183a3f;
  font-family: "Michroma", sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

@media only screen and (max-width: 37.5em) {
  body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.container-clock {
  width: 50rem;
  height: 50rem;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background: #183a3f;
  -webkit-box-shadow: inset 10px 10px 10px #122b2f, inset -10px -10px 10px #1e494f;
          box-shadow: inset 10px 10px 10px #122b2f, inset -10px -10px 10px #1e494f;
}

@media only screen and (max-width: 37.5em) {
  .container-clock {
    width: 60vw;
    height: 35vh;
    font-size: 1.4rem;
  }
}

.date {
  -webkit-box-shadow: inset 4px 4px 4px #1a2630, inset -4px -4px 4px #30485c;
          box-shadow: inset 4px 4px 4px #1a2630, inset -4px -4px 4px #30485c;
  width: 10rem;
  height: 3rem;
  color: #bebebe;
  border-radius: 10px;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .date {
    -webkit-box-shadow: inset 2px 2px 2px #1a2630, inset -2px -2px 2px #30485c;
            box-shadow: inset 2px 2px 2px #1a2630, inset -2px -2px 2px #30485c;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.4rem;
  }
}

.num {
  font-size: 4.5rem;
  color: #afacac;
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (max-width: 37.5em) {
  .num {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
}

.num-one {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.num-sec {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.num-three {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.num-four {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.num-five {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.num-six {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.num-seven {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.num-eight {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.num-nine {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.num-ten {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.num-eleven {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.num span {
  display: inline-block;
  text-align: center;
}

.num-1 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-30deg);
          transform: translateX(-50%) rotate(-30deg);
}

.num-2 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-60deg);
          transform: translateX(-50%) rotate(-60deg);
}

.num-3 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
}

.num-4 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-120deg);
          transform: translateX(-50%) rotate(-120deg);
}

.num-5 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-150deg);
          transform: translateX(-50%) rotate(-150deg);
}

.num-6 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-180deg);
          transform: translateX(-50%) rotate(-180deg);
}

.num-7 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-210deg);
          transform: translateX(-50%) rotate(-210deg);
}

.num-8 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-240deg);
          transform: translateX(-50%) rotate(-240deg);
}

.num-9 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-270deg);
          transform: translateX(-50%) rotate(-270deg);
}

.num-10 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-300deg);
          transform: translateX(-50%) rotate(-300deg);
}

.num-11 {
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(-330deg);
          transform: translateX(-50%) rotate(-330deg);
}

.container-hand {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-hand .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
          transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.sec {
  width: 0.4rem;
  height: 46%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ff0000;
  z-index: 10;
}

.min {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 0.7rem;
  height: 42%;
  background-color: #bebebe;
}

.hour {
  width: 0.7rem;
  height: 34%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #bebebe;
}

.dot {
  background-color: #bebebe;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .dot {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.digital {
  width: 50rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6.4rem;
  color: #bebebe;
  border-radius: 25px;
  background: #183a3f;
  -webkit-box-shadow: inset 10px 10px 10px #122b2f, inset -10px -10px 10px #1e494f;
          box-shadow: inset 10px 10px 10px #122b2f, inset -10px -10px 10px #1e494f;
}

.digital-hour {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.digital-min {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.digital-sec {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.colon {
  -webkit-animation: colonDot 800ms infinite;
          animation: colonDot 800ms infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes colonDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colonDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.legal {
  letter-spacing: 2px;
  color: #bebebe;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */